header{
    padding-top:10px;
    background-color: grey;
    margin-bottom:20px;
}
.texto-header{
    color:white;
    font-weight: bolder;;
}

p{
    font-size:1 rem;
    color: purple;
    text-align: justify;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size:1.2rem;
    color:purple;
}


/*imagen área 9*/
.imagen{
    background-image: url("../img/imgArea9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

/* */
span{
    margin-left:100px;
}

.botonEnviar{
    background-color: purple;
    color:white;
    width: 100px;
}
.error{
    color:red;
    text-align: center;
}
.enviar{
   margin:40px auto;
   width:100px;

}

.botonEnviar:hover{
    background-color: white;
    border: 1px solid purple;
    color: purple;
    font-weight: bolder;
}