.fwb{
    font-weight: bolder;;
}
.centrarTexto{
    text-align:center;
}
body{
    color:purple;

}

.cajaPrincipal{
    height:80vh;
    margin-top:10vh;
}
h3{
    margin:30px 0;
}
form{
    padding-top: 30px;
}
label{
    text-align:left;
}
.comenzar{
    width: 200px;
    margin:60px auto;
    border-radius: 100px solid 2px; 
}
.boton-comenzar{
    background-color:purple;
    color:white;
    height: 50px;
    font-size: 20px;
    width: 200px;
}
.boton-comenzar:hover{
    background-color: white;
    color:purple;
    border: solid 2px purple;
    font-weight:bolder;
}






